<div class="text-center" style="padding:50px 0">

<h1>Editing Product</h1>

<%= render 'form', product: @product %>
<%= link_to '', @product, class: "glyphicon glyphicon-eye-open btn btn-xs btn-default" %> |
<%= link_to '', products_path, class: "btn btn-xs btn-default glyphicon glyphicon-arrow-left"  %>
</div>