<div align="center">
	<%= link_to '', products_path, class: "btn btn-sm btn-default glyphicon glyphicon-arrow-left" %><h1 align="center">New Product</h1>	

</div>

<%= render 'form', product: @product %>

